*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(240, 239, 243);
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containeer{
    width: 375px;
    height: 520px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 20px;
    overflow-y: scroll;
}

.containeer::-webkit-scrollbar{
    display: none;
}

.containeer form{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containeer form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
}

.containeer form i{
    padding-left: 10px;
}


.product-list{
    padding: 20px 0;
}

.product{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}
.product img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}
.product .p-details{
    padding-left: 15px;
}
.product .p-details h2{
    font-size: 20px;
    color: #1d1d1d;
}
.product .p-details h3{
    font-size: 18px;
    color: #1d1d1d;
}