body{
    background-color: #c5c7f7;
    font-family: 'Times New Roman', Times, serif;
}
main{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    padding: 70px;
}
h1{
    font-size: 50px;
    color: #ee7e6a;
}
span{
    font-size: 70px;
}
.btn{
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 100px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}