*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    overflow: hidden;
}
.toast{
    border-radius: 12px;
    position: absolute;
    top: 25px;
    right: 30px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #4070fa;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.toast.active{
    transform: translateX(0%);
}
.toast .toast-content{
    display: flex;
    align-items: center;
}
.toast-content .fa-check{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    background-color: #4070fa;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}
.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text{
    font-size: 20px;
    font-weight: 600;
    color: #666666;
}
.message .text-1{
    font-weight: 600;
    color: #333;
}
.toast .fa-xmark{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .fa-xmark:hover{
    opacity: 1;
}
.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ddd;
}
.toast .progress::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}
.toast .progress.active::before{
    animation: progress 5s linear forwards;
}

@keyframes progress{
    100%{
        right: 100%;
    }
}
button{
    padding: 10px 20px;
    font-size: 20px;
    outline: none;
    background-color: #4070f4;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: #0e4bf1;
}