.wrapper h2{
    color: #ee7e6a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body , .container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background-color: #c5c7f7;
}
.container{
    background-color: white;
    height: 400px;
    width: 400px;
    border-radius: 7px;
}
div{
    margin-bottom: 10px;
}
button{
    margin-bottom: 5x;
    cursor: pointer;
}
input{
    text-decoration: none;
}
#password{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    background-color: #ede7f6;
    border-radius: 6px;
    border: none;
    padding: 6px;
    outline: none;
    color: #1d1d1d;
}
#entered-captcha{
    border: 2px solid #c5c7f7;
    outline: none;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 20px;
}
button{
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 1px solid black;
    background: rgba(236, 243, 240, 0.1);
}
button:hover{
    background-color: black;
    color: white;
}
.btn1{
    margin-bottom: 7px;
}


@media (max-width:768px){
    .container{
        margin-left: 0;
        margin-right: 0;
    }
}