body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #c5c7f7;
}
.giveaway{
    font-size: 20px;
    padding: 30px;
    color: #ee7e6a;
}
.deadline{
    display: flex;
    text-transform: uppercase;
}
.deadline-format{
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    border-radius: 7px;
    text-align: center;
    padding-bottom: 30px;
}
.continer{
    background-color: azure;
    padding: 60px;
    border-radius: 5px;
}